#guest-index {

    align-items: center;
    justify-content: center;
    flex-direction: column;

    a {
        text-decoration: none;
        text-transform: none;
        color: black;
    }

    .project {
        padding: 25px 10px;
        border-bottom: 1px solid goldenrod;

        .link {
            color: goldenrod;
            text-decoration: underline;
        }
    }
}