#form-section {

    background-image: url(/resources/img/footer-bg.jpg);
    background-size: cover;

    h1 {
        color: black;
    }

    .label {
        color: black;
        width: 100%;
    }

}