#show-index {

    align-items: center;
    justify-content: center;
    flex-direction: column;

    a {
        text-decoration: none;
        text-transform: none;
        color: black;
    }

    .project {
        padding: 25px 10px;
        border-bottom: 1px solid goldenrod;

        ul {
            margin: 0;
            padding: 0;

            li {
                padding: 15px 0;

                a {
                    text-decoration: underline;
                    color: goldenrod;
                }
            }
        }

    }

    .edits {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-grow: 0;
        gap: 15px;

        a {
            padding: 5px;
            height: 40px;


            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}